<!--- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row text-center disc-haven-bg-color-midgrey">
            <div class="col-md-4">
                <hr class="disc-haven-fg-color-charcoal">
                <h5>Services</h5>
                <p>Bulk Order</p>
                <p>Register</p>
                <p>Shipment</p>
                <p>Sales</p>
            </div>
            <div class="col-md-4">
                <hr class="disc-haven-fg-color-charcoal">
                <h5>Locations</h5>
                <p>Busselton</p>
                <p>Manjimup</p>
                <p>Bunbury</p>
                <p>Albany</p>
            </div>
            <div class="col-md-4">
                <hr class="disc-haven-fg-color-charcoal">
                <h5>Contact</h5>
                <p>admin@dischaven.com</p>
                <p>Manjimup, WA, 6432</p>
                <p>64 Corner Drive</p>
                <p>(08) 9843 4356</p>
            </div>
            <div class="col-12">
                <hr class="disc-haven-fg-color-charcoal">
                <h5><b>&copy;</b>Disc H<img src="~/Content/Img/Site/logo2.png" class="" width="15" alt="image not found">ven 2018 | Z018771 - SRTAFE</h5>
            </div>
        </div>
    </div>
</footer>
