<div class="container">
    <div class="row">
        @if (ViewBag.ErrorMessage != null)
        {
            <h4 class="text-center">@ViewBag.ErrorMessage</h4>
        }

        <form id="frmQAs" action="@Url.Action("SubmitChallengeQuestions","Home")" method="post"></form>

        <label for="username">Username</label>
        <input type="text" form="frmQAs" class="form-control" id="forgottenUsername" name="username" value="@Request["Username"]" readonly /><br><br>


        <label for="forgottenPassword">New Password:</label>
        <input type="password" class="form-control" id="forgottenPassword" name="password" value="" />

        <label for="forgottenConfirm">Confirm Password:</label>
        <input type="password" class="form-control" id="forgottenConfirmPassword" name="confirmPassword" value="" />
            

        <div class="mt-2 mb-2">
            <button type="button" class="btn btn-primary" onclick="submitPasswords()">Submit</button>
        </div>
    </div>
</div>
