
@{
    ViewBag.Title = "About";
}

<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 text-center">
            <h2>Our Philosophy</h2>
            <p>We take pride in providing an outstanding service to serve an increasingly niche market of media enthusiasts.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, debitis, nisi. Adipisci, autem consequuntur eius eveniet itaque magni maxime, minima nesciunt odio perferendis praesentium quae quasi quisquam quos ratione similique!</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card disc-haven-bg-color-midgrey h-100">
                <img class="mt-3 ml-3 rounded" width="120" src="~/Content/Img/Site/mr_ramin_majidi.png" alt="image not found">
                <div class="card-body">
                    <h5 class="card-title">Ramin Majidi <i>- Chief Executive Officer</i></h5>
                    <p class="card-text">With a long time passion for film and music, Ramin started Disc Haven to support a growing market for physical media. Ramin takes pride in Disc Haven and strives on continous improvement in the company and its customers experiences.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card disc-haven-bg-color-midgrey h-100">
                <img class="mt-3 ml-3 rounded" width="111" src="~/Content/Img/Site/mr_david_mckenzie.png" alt="image not found">
                <div class="card-body">
                    <h5 class="card-title">David McKenzie <i>- Chief Financial Officer</i></h5>
                    <p class="card-text">With many years of HR Management and business financial planning David has worked alongside Ramin, in building Disc Havens operations from the ground up.</p>
                </div>
            </div>
        </div>
    </div>
</div>

