
@{
    ViewBag.Title = "Store";
}

<div class="container-fluid">
    <div class="row">
        <h2 class="col-12 text-center">Store Locator</h2>
        <iframe class="m-auto col-sm-12 col-md-8 col-lg6" height="450" src="https://www.google.com.au/maps/d/embed?mid=121-A0Ut2TLIep9zauUJD90MtuXEiYsCD"></iframe>
    </div>
</div>

@*<script>
    function initMap() {
        var focus = { lat: -33.436482, lng: 115.833079 };
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 4, center: focus });

        var albany = new google.maps.Marker({ position: { lat: -35.023819, lng: 117.884727 }, map: map });
        var bunbury = new google.maps.Marker({ position: { lat: -33.325638, lng: 115.639648 }, map: map });
        var mandurah = new google.maps.Marker({ position: { lat: -32.536640, lng: 115.742561 }, map: map });
        var busselton = new google.maps.Marker({ position: { lat: -33.649940, lng: 115.344627 }, map: map });
    }
</script>
<script async defer src="https://maps.gogleapis.com/maps/api/js?key={INSERT-API-KEY-HERE}&callback=initMap"></script>*@

